#busevi-container {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll; }

.red {
  color: #990000; }

.green {
  color: #006600; }

.blue {
  color: #3333CC; }

.orange {
  color: #CC6600; }

.right-content {
  margin: 10px 20px 20px 135px; }

.disabled {
  background-color: #fff; }

.hide-students .student {
  display: none; }

/****-------*****/
 /*<div class="tooltip top">
   <div class="tooltip-inner">
     Some tooltip text!
   </div>
   <div class="tooltip-arrow"></div>
</div>*/
/*******----******/
.tooltip .tooltip-inner {
  width: 200px;
  padding: 10px; }

.button-navbar {
  /*left: 0;
  right: 0; */
  top: 70px;
  bottom: 10px;
  left: 5px;
  width: 110px;
  padding: 4px;
  position: fixed;
  background-color: #eee;
  z-index: 9999;
  box-shadow: 4px 4px 8px 0px #bbb;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .button-navbar .button-menu {
    clear: both;
    margin-left: auto;
    margin-right: auto; }
    .button-navbar .button-menu .button-group {
      margin-bottom: 10px;
      background-color: #fff;
      clear: both;
      height: auto;
      float: left;
      width: 100%;
      overflow: visible;
      margin: 2px 0;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 4px; }
      .button-navbar .button-menu .button-group.fullWidth {
        clear: both;
        height: auto;
        overflow: visible; }
      .button-navbar .button-menu .button-group.offset-top {
        margin-top: 12px; }
      .button-navbar .button-menu .button-group .name {
        color: #fff;
        padding: 2px;
        font-size: 10px;
        text-align: center;
        background-color: #aaa;
        margin-bottom: 4px; }
      .button-navbar .button-menu .button-group .button-row button, .button-navbar .button-menu .button-group .button-row a {
        background-image: none;
        padding: 3px 6px 3px 6px;
        margin-left: 8px;
        margin-bottom: 2px;
        border: none;
        border-color: #fff;
        box-shadow: none; }

#activeGroupName {
  display: none; }

.student {
  cursor: pointer;
  padding: 4px 10px; }
  .student input[type='text'] {
    display: block;
    clear: right;
    float: right;
    border: none;
    width: 200px;
    padding: 2px; }

.group-active {
  background-color: yellow; }

.student-active {
  background-color: #aaaddd; }

.bus-active {
  background-color: #dff0d8; }

.group-nav {
  padding: 4px; }
  .group-nav button {
    margin: 4px; }

.bus-nav {
  padding: 4px; }
  .bus-nav button {
    margin: 4px; }

.top-options {
  background-color: #A7C177;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center; }

.busevi {
  height: auto; }
  .busevi .top {
    background-color: #666699;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-weight: bold; }
  .busevi .group {
    padding: 10px; }
  .busevi .bus {
    border: 1px solid #ccc;
    margin: 10px 0;
    line-height: 30px;
    overflow: hidden;
    border-radius: 4px; }
    .busevi .bus .bus-percentage {
      background-color: #bbb;
      width: 100%;
      clear: both;
      text-align: center;
      color: #fff;
      font-weight: bold;
      border-radius: 4px; }
      .busevi .bus .bus-percentage .bus-used-capacity {
        width: 0;
        background-color: #006600;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        border-radius: 4px; }
    .busevi .bus .bus-name {
      padding: 4px;
      margin: 8px 0;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      background-color: #B2E0F0;
      border-radius: 4px; }
    .busevi .bus .bus-nav {
      background-color: #ddd; }
    .busevi .bus button {
      margin: 4px; }
    .busevi .bus .bus-capacity {
      padding: 4px;
      font-size: 14px;
      font-weight: bold; }
    .busevi .bus .bus-used {
      padding: 4px;
      font-size: 14px;
      font-weight: bold; }
    .busevi .bus .bus-plates {
      padding: 4px;
      font-style: italic; }
    .busevi .bus .bus-group.locked {
      background-color: #fdf; }
    .busevi .bus .bus-group {
      border-top: 1px dashed #bbb;
      padding: 0 6px;
      background-color: #fff;
      margin: 2px; }
      .busevi .bus .bus-group button.btn.btn-default.btn-sm.removeFromBus {
        margin: 2px; }
      .busevi .bus .bus-group button.btn.btn-default.btn-sm.lockBusGroup {
        margin: 2px 10px 2px 2px; }

.sudionici {
  height: auto; }
  .sudionici .top {
    background-color: #336699;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 7px; }
  .sudionici .top-options {
    background-color: #A7C177;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center; }
  .sudionici .group {
    position: relative;
    padding: 5px;
    cursor: pointer; }
    .sudionici .group.disabled {
      color: #fff; }
    .sudionici .group .group-show-hide {
      float: left;
      padding: 10px;
      background-color: #aaa;
      color: #fff;
      font-weight: bold; }
    .sudionici .group .group-name {
      padding: 10px 28px 10px 10px;
      background-color: #ccc;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      border-radius: 0px 4px 4px 0px; }
    .sudionici .group .group-size {
      position: absolute;
      right: 20px;
      top: 11px;
      font-size: 20px;
      font-weight: bold; }
    .sudionici .group .student {
      color: #333; }
      .sudionici .group .student:hover {
        background-color: #bbb; }
      .sudionici .group .student input[type='text'] {
        display: none; }
  .sudionici .group-ignore {
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 4px; }
    .sudionici .group-ignore .student {
      border-bottom: 1px solid #ddd; }
      .sudionici .group-ignore .student:hover {
        background-color: #bbb; }
    .sudionici .group-ignore .group-name {
      padding: 10px;
      margin-bottom: 7px;
      background-color: #ddd;
      text-align: left;
      font-weight: bold;
      border: 1px solid #ccc;
      height: 40px;
      border-radius: 4px; }
      .sudionici .group-ignore .group-name button {
        display: block;
        float: right;
        clear: right;
        margin-top: -6px; }

#loader {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 167771; }
  #loader #loader_img {
    background: url(/ferElektrijada/assets/busevi/gif/loader.gif) no-repeat center center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 167772; }
